main {
  padding: 120px 0;
}
main .info-header {
  font-size: 40px;
  margin-bottom: 2rem;
  color: var(--light-blue-color);
}
main .summary,
main ul li,
main .end {
  font-size: 18px;
  font-weight: 500;
  line-height: 52px;
  color: var(--header-color);
}
main ul {
  list-style: auto;
  display: block;
  margin-right: 20px;
}
@media (max-width: 768px) {
  main .info-header {
    text-align: center;
    font-size: 30px;
  }
  main .summary,
  main ul li,
  main .end {
    font-size: 16px;
    line-height: 40px;
  }
}
